<div class="py-5">
    <div class="card">
        <h5 class="card-header">Registrar Certificação</h5>
        <div class="card-body">
            <!-- <form> -->
            <div class="form-group">
                <label>Pesquisar Certificação</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Informe a descrição da certificação">
                    <div class="input-group-prepend">
                        <button class="btn btn-default" type="button" onclick="pesquisar()">Pesquisar</button>
                    </div>
                </div>
            </div>
            <!-- </form> -->

            <div id="resultado">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Provedor</th>
                            <th scope="col">Código</th>
                            <th scope="col">Descrição</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control" [(ngModel)]="novo.provedor" />
                            </td>
                            <td>
                                <input type="text" class="form-control" [(ngModel)]="novo.codigo" />
                            </td>
                            <td>
                                <input type="text" class="form-control" [(ngModel)]="novo.descricao" />
                            </td>
                            <td>
                                <button class="btn btn-primary" (click)="add(novo)">Criar</button>
                            </td>
                        </tr>
                        <tr *ngFor="let item of itens">
                            <td>{{item.provedor}}</td>
                            <td>{{item.codigo}}</td>
                            <td>{{item.descricao}}</td>
                            <td><a href="../html/trilha-certificacao.html" class="btn btn-primary btn-sm">Registrar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>